<!DOCTYPE html>
<html>
<head>
  <title>Imagination</title>
  <%= stylesheet_link_tag    "imagination/application", media: "all" %>
  <%= javascript_include_tag "imagination/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
